@font-face {
    font-family: 'Nuosu SIL';
    src: url('fonts/nuosu-sil-latin-400-normal.woff2') format('woff2'),
        url('fonts/nuosu-sil-latin-400-normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0000-00FF;
    /* 基本ラテン文字 */
}

@mixin nuosu-font($size: 16px) {
    font-family: "Nuosu SIL", serif;
    font-size: $size;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1px;
}

@mixin ibm-font($size: 10px) {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-size: $size;
    font-style: normal;
    font-weight: 300;
    line-height: 180%;
    letter-spacing: 1.5px;
}



$color-color1: rgb(241, 240, 243);


a {
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.4;
    }
}

html,
body {
    background-color: #f4f4f4;
    color: #242426;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    width: 100%;
    // max-width: calc(1920px + 64px + 64px);
    margin: 0 auto;
    padding: 64px 64px 0 64px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px;
    width: 100%;
}

.hero__title {
    p.jp {
        margin-top: -16px;
        font-family: "IBM Plex Sans JP", sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 300;
        line-height: 180%;
        letter-spacing: 1.5px;
    }

    p.en {
        margin-top: 24px;
        font-family: "Nuosu SIL", serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 1px;
    }
}

.main {
    margin-top: 104px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 104px;
}

.gyo-1,
.gyo-2,
.gyo-3,
.gyo-4,
.gyo-5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 454px 50px 454px 50px;
    grid-column-gap: 24px;
    width: 100%;
}

.item-1-text,
.item-2-text,
.item-3-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    margin-top: 12px;
}


.gyo-1,
.gyo-4 {
    .item-1-img {
        grid-area: 1 / 1 / 5 / 3;
    }

    .item-1-text {
        grid-area: 5 / 1 / 6 / 3;
    }

    .item-2-img {
        grid-area: 1 / 3 / 3 / 4;
    }

    .item-2-text {
        grid-area: 3 / 3 / 4 / 4;
    }

    .item-3-img {
        grid-area: 3 / 4 / 5 / 5;
    }

    .item-3-text {
        grid-area: 5 / 4 / 6 / 5;
    }
}

.gyo-2,
.gyo-5 {
    .item-1-img {
        grid-area: 3 / 1 / 5 / 2;
    }

    .item-1-text {
        grid-area: 5 / 1 / 6 / 2;
    }

    .item-2-img {
        grid-area: 1 / 2 / 5 / 4;
    }

    .item-2-text {
        grid-area: 5 / 2 / 6 / 4;
    }

    .item-3-img {
        grid-area: 1 / 4 / 3 / 5;
    }

    .item-3-text {
        grid-area: 3 / 4 / 4 / 5;
    }
}

.gyo-3 {
    .item-1-img {
        grid-area: 3 / 1 / 5 / 2;
    }

    .item-1-text {
        grid-area: 5 / 1 / 6 / 2;
    }

    .item-2-img {
        grid-area: 1 / 2 / 3 / 3;
    }

    .item-2-text {
        grid-area: 3 / 2 / 4 / 3;
    }

    .item-3-img {
        grid-area: 1 / 3 / 5 / 5;
    }

    .item-3-text {
        grid-area: 5 / 3 / 6 / 5;
    }
}


.item-1-img img,
.item-2-img img,
.item-3-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-1-text p.item__text__title,
.item-2-text p.item__text__title,
.item-3-text p.item__text__title {
    @include nuosu-font(16px);
}

.item-1-text p.item__text__day,
.item-2-text p.item__text__day,
.item-3-text p.item__text__day {
    @include ibm-font(10px);
}

.private {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.private__title {
    border-top: 1px solid #D0D0D0;
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    p.jp {
        &::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 8px;
            background-color: #000;
            border-radius: 50%;
            transform: translateY(-7px);
        }

        @include ibm-font(32px);
        width: 50%;
        text-align: left;
    }

    p.en {
        @include nuosu-font(16px);
        width: 50%;
        text-align: right;
    }
}

.private__cards {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 496px;
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    width: 100%;

    .item-1,
    .item-2,
    .item-3,
    .item-4 {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        p.item__text__title {
            @include nuosu-font;
            margin-top: 6px;
        }

        p.item__text__day {
            @include ibm-font;
            margin-top: 0px;
        }
    }

}


.section-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
}

.section-profile__title {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    p.jp {
        &::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 8px;
            background-color: #000;
            border-radius: 50%;
            transform: translateY(-7px);
        }

        @include ibm-font(32px);
        width: 50%;
        text-align: left;
    }

    p.en {
        @include nuosu-font(16px);
        width: 50%;
        text-align: right;
    }
}

.section-profile__text {
    margin-top: 96px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 24px;
    width: 100%;

    .common-body-text {
        grid-area: 1 / 1 / 2 / 3;
        width: 100%;

        p.ja {
            @include nuosu-font(16px);
            margin-top: 24px;
            margin-bottom: 24px;
        }

        p.en {
            @include nuosu-font(16px);
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }
}


.section-profile__img {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    width: 100%;
    height: 588px;
    padding-bottom: 24px;
}

.section-profile__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    background-color: #1F1F20;
    color: #f1f0f3;
    padding: 96px 64px;
    width: calc(100% + 128px);
    margin: 0 -64px;
}

.section-features__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    p.jp {
        &::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 8px;
            background-color: #fff;
            border-radius: 50%;
            transform: translateY(-7px);
        }

        @include ibm-font(32px);
        width: 50%;
        text-align: left;
    }

    p.en {
        @include nuosu-font(16px);
        width: 50%;
        text-align: right;
    }
}

.section-features__contents {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;

    .gyo {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto auto;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        width: 100%;
        height: 100%;

        .line {
            grid-area: 1 / 2 / 2 / 7;
            width: 100%;
            height: 1px;
            background-color: #424242;
        }

        .title {
            margin-top: 12px;
            grid-area: 1 / 2 / 2 / 4;
            font-size: 20px;
        }

        .text {
            grid-area: 2 / 2 / 3 / 4;

            p.jp {
                @include ibm-font(16px);
            }

            p.en {
                margin-top: 12px;
                @include nuosu-font(16px);
            }
        }

        .img {
            grid-area: 2 / 5 / 3 / 7;
            height: 100%;
            overflow: hidden;

            img {
                height: 100%;
                width: auto;
                object-fit: cover;
                display: block;
                margin: 0 auto;
            }
        }

    }
}

.section-flow {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    width: 100%;
    background-color: #1F1F20;
    color: #f1f0f3;
    padding: 96px 64px;
    width: calc(100% + 128px);
    margin: 0 -64px;
}

.section-flow__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    p.jp {
        &::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 8px;
            border-radius: 50%;
            transform: translateY(-7px);
        }

        @include ibm-font(32px);
        width: 50%;
        text-align: left;
    }

    p.en {
        @include nuosu-font(16px);
        width: 50%;
        text-align: right;
    }
}

.section-flow__contents {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;

    .gyo {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto auto auto;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        width: 100%;
        height: 100%;

        .line {
            grid-area: 1 / 2 / 2 / 7;
            width: 100%;
            height: 1px;
            background-color: #424242;
        }

        .number {
            grid-area: 1 / 2 / 2 / 7;
            width: 100%;
            height: 100%;
            margin-top: 24px;
            font-size: 10px;
        }

        .title-text-jp {
            font-size: 14px;
        }

        .title-text-en {
            font-size: 12px;
            margin-top: 12px;
        }

        .title {
            grid-area: 2 / 2 / 3 / 4;
            font-size: 20px;
        }

        .text {
            grid-area: 2 / 4 / 3 / 7;

            p.jp {
                @include ibm-font(16px);
            }

            p.en {
                margin-top: 12px;
                @include nuosu-font(16px);
            }
        }

    }
}

.section-price {
    margin-top: 104px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    background-color: #1F1F20;
    color: #f1f0f3;
    padding: 96px 64px;
    width: calc(100% + 128px);
    margin: 0 -64px;
}

.section-price__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    p.jp {
        &::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 8px;
            background-color: #fff;
            border-radius: 50%;
            transform: translateY(-7px);
        }

        @include ibm-font(32px);
        width: 50%;
        text-align: left;
    }

    p.en {
        @include nuosu-font(16px);
        width: 50%;
        text-align: right;
    }
}

.section-price__contents {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;

    .block-1 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto auto;
        grid-column-gap: 24px;
        grid-row-gap: 0px;
        width: 100%;
        height: 100%;

        .text {
            border-top: 1px solid #424242;
            padding-top: 24px;
            grid-area: 1 / 2 / 2 / 5;

            p.jp {
                @include ibm-font(16px);
            }
        }

        .mitsumori {
            border-top: 1px solid #424242;
            padding-top: 24px;
            grid-area: 2 / 2 / 3 / 5;
            border-bottom: 1px solid #424242;

            p.title {
                @include ibm-font(20px);
            }

            p.jp {
                @include ibm-font(14px);
                margin-top: 12px;
            }
        }

        .img {
            grid-area: 1 / 5 / 3 / 7;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .block-2 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 24px;
        grid-row-gap: 0px;
        width: 100%;
        height: 100%;
    }

    .osaeru {
        margin-top: 24px;
        width: 100%;
        height: 100%;
        grid-area: 1 / 2 / 2 / 5;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0px;


        p.title {
            @include ibm-font(20px);
        }

        p.number {
            @include ibm-font(10px);
            margin-top: 40px;
        }


        .title-and-text {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 24px;
            width: 100%;
            height: 100%;
            @include ibm-font(16px);

            p.title {
                flex: 1;
                @include ibm-font(16px);
            }

            p.jp {
                flex: 2;
                @include ibm-font(14px);
            }
        }

        .title-and-text:last-child {
            border-bottom: 1px solid #424242;
            padding-bottom: 24px;
        }
    }
}

.wrapper-works {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    width: 100%;
    background-color: #f4f4f4;
    padding: 0 64px;

    article.work {
        width: 100%;


        section.work--hero {
            width: calc(100% + 128px);
            height: 833px;
            margin: 0 -64px;
            overflow: hidden;
            position: relative;

            h1.logo-header {
                position: fixed;
                top: 64px;
                right: 64px;
                z-index: 10;
                display: inline-block;

                a {
                    display: block;
                    width: auto;
                    height: auto;

                    img {
                        width: auto;
                        height: 24px;
                        mix-blend-mode: difference;
                    }
                }
            }

            img.kv {
                width: 100%;
                height: auto;
                display: block;
                z-index: 1;
            }
        }

        section.work--overview {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0px;

            h2.title {
                margin-top: 80px;
                @include nuosu-font(32px);

                &::before {
                    content: "";
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    margin-right: 8px;
                    background-color: #000;
                    border-radius: 50%;
                    transform: translateY(-7px);
                }
            }

            .info {
                margin-top: 24px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 24px;
                grid-row-gap: 0px;
                width: 100%;

                dl.list {
                    width: 100%;
                    grid-column: 1 / 2;
                    grid-row: 1 / 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 0px;

                    div.item {
                        margin-bottom: 8px;
                        display: grid;
                        grid-template-columns: 96px 1fr;
                        grid-template-rows: auto;
                        grid-column-gap: 0px;
                        grid-row-gap: 0px;

                        dt,
                        dd {
                            white-space: normal;
                            word-break: break-word;
                        }

                        dt {
                            @include ibm-font(14px);
                            grid-column: 1 / 2;
                            grid-row: 1 / 2;
                            position: relative;


                            &::after {
                                content: ":";
                                position: absolute;
                                right: 0;
                            }
                        }

                        dd {
                            grid-column: 2 / 3;
                            grid-row: 1 / 2;
                            margin-left: 12px;
                            @include ibm-font(14px);
                        }
                    }
                }

                p[lang="jp"].body-1 {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    @include ibm-font(14px);
                }

                p[lang="jp"].body-2 {
                    grid-column: 3 / 4;
                    grid-row: 1 / 2;
                    @include ibm-font(14px);
                }

                p[lang="en"].body-1 {
                    margin-top: 16px;
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                    @include ibm-font(10px);
                }

                p[lang="en"].body-2 {
                    margin-top: 16px;
                    grid-column: 3 / 4;
                    grid-row: 2 / 3;
                    @include ibm-font(10px);
                }
            }

            .url {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                grid-column-gap: 24px;
                grid-row-gap: 0px;
                width: 100%;

                a {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    @include ibm-font(14px);
                }
            }

            figure.img {
                margin-top: 24px;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                grid-column-gap: 24px;
                grid-row-gap: 0px;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    grid-column: 2 / 4;
                    grid-row: 1 / 2;
                }
            }
        }

        section.work--contents {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0px;

            .gyo {
                margin-top: 24px;
                display: grid;
                gap: 24px;
                grid-template-columns: 1fr;

                /* 2枚の画像がある場合 */
                &.two-images {
                    grid-template-columns: repeat(2, 1fr);
                }

                /* テキストと画像がある場合 */
                &.text-and-image {
                    grid-template-columns: repeat(3, 1fr);
                }

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    object-fit: cover;
                }

                .text {
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;

                    p[lang="jp"] {
                        @include ibm-font(14px);
                    }

                    p[lang="en"] {
                        margin-top: 24px;
                        @include ibm-font(10px);
                    }
                }

                figure.img {
                    grid-column: 2 / 4;
                    grid-row: 1 / 2;
                }
            }
        }
    }

    aside.work--next-work {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0px;

        span.label {
            @include nuosu-font(16px);
        }

        a.link {
            p.title {
                margin-top: 24px;
                @include nuosu-font(40px);
            }

            img {
                margin-top: 24px;
                width: 100%;
                height: 374px;
                object-fit: cover;
            }
        }
    }
}

footer.footer {
    margin: 0 -64px;
    padding: 48px 64px 32px;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    width: calc(100% + 128px);
}

.footer__title {
    img {
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
    }
}

.footer__contents {
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        gap: 24px;

        a {
            @include nuosu-font(16px);
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: auto;
        gap: 8px;

        p.title {
            @include nuosu-font(16px);
        }

        p.mail {
            @include nuosu-font(32px);
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 3px;
            text-decoration-color: #666;
        }
    }
}

.footer__footer {
    border-top: 1px solid #D0D0D0;
    padding-top: 32px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .copyright {
        p {
            @include nuosu-font(12px);
        }
    }

    .sns {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;
        gap: 160px;

        a {
            @include nuosu-font(12px);
        }
    }
}