footer.footer-wrapper
    .header
        a(href="index.html")
            img(src="images/logo.svg" alt="")
    .main
        nav.links 
            a(href="profile.html")
                |Profile 
            a(href="profile.html#feature")
                |Production Features 
            a(href="profile.html#flow")
                |Work flow 
            a(href="profile.html#price")
                |Price 
        .contact
            p.title 
                |Get_in_touch_
            a.text-fit(href="mailto:nakanodesignworks@gmail.com")
                |nakanodesignworks@gmail.com
    .footer
        .copyright
            p.jp
                |©2025_nakano_ffffff
        .sns 
            a(href="https://x.com/nakano_ffffff" target="_blank")
                |X(twitter)_
            a(href="https://www.instagram.com/nakanofff_design/" target="_blank")
                |Instagram_

//- ヘッダーのロゴとフッターのロゴのウェイトが違う　細い方に統一したい