footer.footer
    .footer__title
        img(src="images/footer-title.png" alt="")
    .footer__contents 
        .links 
            a(href="profile.html")
                |Profile 
            a(href="#")
                |Production Features 
            a(href="#")
                |Work flow 
            a(href="#")
                |Price 
        .contact
            p.title 
                |Get_in_touch_
            p.mail
                |nakanodesignworks@gmail.com
    .footer__footer
        .copyright
            p.jp
                |©2025_nakano_ffffff
        .sns 
            a(href="#")
                |X(twitter)_
            a(href="#")
                |Instagram_