extends layout.pug    

block content
    .wrapper
        .hero
            .hero__title
                p.jp
                    |私は、目的や意図の解像度を高めながら、
                    br
                    |設計と表現の両面で精度を追求するデザイナーです。
                    br
                    |つくって終わるのではなく、つくり続けることで
                    br
                    |表現に厚みを加えていきたいと考えています。
                p.en
                    |I'm a designer who pursues precision in both form and expression, constantly refining purpose and intent. 
                    br
                    |I aim not just to create, but to evolve—adding depth and meaning over time.
            .hero__i
                img(src="images/logo.svg" alt="")
        .main
            .gyo-1
                .item-1-img
                    a(href="work.html")
                        img(src="images/works-1.png" alt="")
                .item-1-text
                    p.item__text__title
                        |SONY Music VEE Geppaku-Rui 
                    p.item__text__day
                        |2023.4.10
                .item-2-img 
                    img(src="images/works-2.png" alt="")
                .item-2-text
                    p.item__text__title
                        |VOCALROCK MANIA DJ NIGHT
                    p.item__text__day
                        |2023.4.10
                .item-3-img 
                    img(src="images/works-3.png" alt="")
                .item-3-text
                    p.item__text__title
                        |ASHMEa
                    p.item__text__day
                        |2023.4.10
            .gyo-2
                .item-1-img
                    img(src="images/works-4.png" alt="")
                .item-1-text
                    p.item__text__title
                        |FIRST PiECE
                    p.item__text__day
                        |2023.4.10
                .item-2-img 
                    img(src="images/works-5.png" alt="")
                .item-2-text
                    p.item__text__title
                        |tamaya
                    p.item__text__day
                        |2023.4.10
                .item-3-img 
                    img(src="images/works-6.png" alt="")
                .item-3-text
                    p.item__text__title
                        |Bathycaphe
                    p.item__text__day
                        |2023.4.10
            .gyo-3
                .item-1-img
                    img(src="images/works-7.png" alt="")
                .item-1-text
                    p.item__text__title
                        |FIRST PiECE
                    p.item__text__day
                        |2023.4.10
                .item-2-img 
                    img(src="images/works-8.png" alt="")
                .item-2-text
                    p.item__text__title
                        |ICE
                    p.item__text__day
                        |2023.4.10
                .item-3-img 
                    img(src="images/works-9.png" alt="")
                .item-3-text
                    p.item__text__title
                        |SONY Music VEE Geppaku-Rui 
                    p.item__text__day
                        |2023.4.10
            .gyo-4
                .item-1-img
                    img(src="images/works-10.png" alt="")
                .item-1-text
                    p.item__text__title
                        |yamada.
                    p.item__text__day
                        |2023.4.10
                .item-2-img 
                    img(src="images/works-11.png" alt="")
                .item-2-text
                    p.item__text__title
                        |SHIKI
                    p.item__text__day
                        |2023.4.10
                .item-3-img 
                    img(src="images/works-12.png" alt="")
                .item-3-text
                    p.item__text__title
                        |FIRST PiECE
                    p.item__text__day
                        |2023.4.10
            .gyo-5
                .item-1-img
                    img(src="images/works-13.png" alt="")
                .item-1-text
                    p.item__text__title
                        |Fuyuu
                    p.item__text__day
                        |2023.4.10
                .item-2-img 
                    img(src="images/works-14.png" alt="")
                .item-2-text
                    p.item__text__title
                        |yuuna
                    p.item__text__day
                        |2023.4.10
                .item-3-img 
                    img(src="images/works-15.png" alt="")
                .item-3-text
                    p.item__text__title
                        |Sato
                    p.item__text__day
                        |2023.4.10
            .private
                .private__title
                    p.jp
                        |自主制作たち
                    p.en
                        |( Experiments )
                .private__cards 
                    .item-1
                        img(src="images/works-16.png" alt="")
                        p.item__text__title
                            |SHIKI
                        p.item__text__day
                            |2023.4.10
                    .item-2
                        img(src="images/works-16.png" alt="")
                        p.item__text__title
                            |SHIKI
                        p.item__text__day
                            |2023.4.10
                    .item-3
                        img(src="images/works-16.png" alt="")
                        p.item__text__title
                            |SHIKI
                        p.item__text__day
                            |2023.4.10
                    .item-4 
                        img(src="images/works-16.png" alt="")
                        p.item__text__title
                            |SHIKI
                        p.item__text__day
                            |2023.4.10
        include _footer.pug


