/* Mobile Styles (max-width: 809px) */
@media screen and (max-width: 809px) {
    .page-wrapper {
        padding: 24px 16px 0;
    }

    .logo-header-wrapper {
        z-index: 1;
        position: relative;
    }

    .logo-header {
        position: fixed;
        top: 32px;
        left: 16px;
        z-index: 10;
    }



    .main-content {
        flex: 1;
    }

    .menu {
        width: 100%;
        height: 58px;
    }

    .menu--visible {
        align-self: stretch;
        display: flex;
    }

    .menu--visible__announcement__text {
        flex-grow: 1;
        overflow: hidden;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    img.logo-header-img {
        width: 40vw;
        min-width: 160px;
        max-width: 400px;
        height: auto;
    }

    .header {
        padding: 20px 20px;
    }

    .header__nav {
        display: none;
    }

    .header__nav--mobile {
        display: block;
    }

    .main-copy {
        margin-top: 80px;
        width: 100%;
        min-height: 150px;
        /* スマホ用のタイプライター演出中の高さを固定 */
    }

    .main-copy__content {
        width: 100%;
        height: 80px;
    }

    .main-copy__content-jp {
        margin-top: 0px;
    }

    .main-copy__content-ja {
        margin-top: 0px;
    }

    .main-copy__content-en {
        margin-top: 32px;
    }

    .main-copy__content p[lang=ja] {
        font-size: 16px;
        line-height: 1.5;
    }

    .main-copy__content p[lang=en] {
        font-size: 14px;
        line-height: 1.5;
    }

    .main-copy__content {
        gap: 8px;
    }

    .main-copy__text[lang=ja] {
        margin-top: -8px;
        font-size: var(--text-5);
        height: auto;
        width: 100%;
    }

    .main-copy__text[lang=en] {
        margin-top: -8px;
        font-size: var(--text-2);
        height: auto;
        width: 100%;
        line-height: var(--leading-normal);
    }

    .main-copy__text {
        gap: 8px;
    }

    .home__works {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .home__works__item {
        margin-top: 0;
    }

    .home__works__link {
        width: 100%;
        height: 100%;
    }

    .home__works__img {
        height: auto;
        aspect-ratio: 4/3;
    }

    /* サイズ別のスタイル */
    .home__works__item--size-l {
        width: calc(100% - 6px);
    }

    .home__works__item--size-s {
        width: calc(50% - 6px);
    }

    .home__works__item--size-l .home__works__img {
        height: 440px;
    }




    .home__works__item:nth-of-type(1) {
        margin-top: 0px;
    }

    .home__works__item:nth-of-type(2) {
        margin-top: 0px;
    }

    .home__works__item:nth-of-type(3) {
        margin-top: 350px;
    }

    .home__works__item:nth-of-type(4) {
        margin-top: 0px;
    }

    .home__works__item:nth-of-type(5) {
        margin-top: 0px;
    }

    .home__works__item:nth-of-type(6) {
        margin-top: 0px;
    }

    .home__works__item:nth-of-type(7) {
        margin-top: 350px;
    }

    .home__works__item:nth-of-type(8) {
        margin-top: 0px;
    }

    .home__works__item:nth-of-type(9) {
        margin-top: 0px;
    }

    .home__works__item:nth-of-type(10) {
        margin-top: 350px;
    }

    .home__works__item:nth-of-type(11) {
        margin-top: 0px;
    }

    .home__works__item:nth-of-type(12) {
        margin-top: 0px;
    }



    /* プロフィールページ */

    .page-profile {
        padding: 80px 16px 0 16px;
    }

    .profile-section__title__main {
        font-size: 20px;
    }

    .profile-section__title__main::before {
        transform: translateY(-5px);
        width: 4px;
        height: 4px;
        margin-right: 8px;
    }

    .profile-section__title__sub {
        font-size: 14px;
    }

    .profile-section__title__sub::before {
        transform: translateY(-5px);
        width: 4px;
        height: 4px;
        margin-right: 8px;
    }

    .profile-section__paragragh p[lang=en] {
        font-family: var(--font-serif-en);
        font-style: normal;
        font-weight: 400;
        line-height: var(--leading-normal);
        letter-spacing: var(--tracking-normal);
        font-size: var(--text-2);
    }

    .profile-section__profile__gallary {
        margin-top: 40px;
        display: grid;
        grid-column: 1/-1;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 260px 260px;
        margin-bottom: -96px;
        width: calc(100% + 32px);
        margin: 0 -16px;
    }

    .profile-section__profile__paragragh {
        grid-column: 1/-1;
    }

    .profile-section__feature__item {
        grid-column: 1/-1;
        grid-template-columns: repeat(6, 1fr);
    }

    .profile-section__feature__item__text {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .profile-section__feature__item__img {
        margin-top: 24px;
        grid-column: 1/-1;
        grid-row: auto;
    }


    .profile-section__flow__intro {
        grid-column: 1/-1;
    }


    .profile-section__flow__list {
        grid-column: 1/-1;
    }

    .profile-section__flow__item__title {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .profile-section__flow__item__content {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .profile-section__price {
        padding: 80px 16px;
        width: calc(100% + 32px);
        margin: 0 -16px;
    }

    .profile-section__price__intro-mitsumori {
        margin-top: 40px;
        grid-column: 1/-1;
        grid-row: auto;
    }

    .profile-section__price__intro-mitsumori__intro {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .profile-section__price__intro-mitsumori__mitsumori {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .profile-section__price__intro-mitsumori__img {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .profile-section__price__osaeru {
        margin-top: 40px;
        grid-column: 1/-1;
        grid-row: auto;
    }

    .profile-section__price__osaeru__title {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .profile-section__price__osaeru__title span {
        grid-column: 1/-1;
        grid-row: auto;
    }


    .profile-section__price__osaeru__item__number {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .profile-section__price__osaeru__item__title {
        margin-top: 8px;
        grid-column: 1/-1;
        grid-row: auto;
    }

    .profile-section__price__osaeru__item__text {
        margin-top: 8px;
        grid-column: 1/-1;
        grid-row: auto;
    }

    .page-work__kv {
        width: calc(100% + 32px);
        margin: 0 -16px;
        min-height: 260px;
        max-height: 940px;
        height: auto;
    }

    .page-work__kv__img {
        aspect-ratio: 3/4;
        height: auto;
    }

    .page-work__title {
        margin-top: 40px;
    }

    .page-work__overview {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column: 1/-1;
        grid-row: auto;
    }

    .page-work__overview__list {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .page-work__overview__list__item {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .page-work__overview__paragraph {
        margin-top: 24px;
        display: block;
        grid-column: 1/-1;
        grid-row: auto;
    }

    .page-work__overview__paragraph__body-1-ja {
        display: block;
        width: 100%;
    }

    .page-work__overview__paragraph__body-2-ja {
        display: block;
        width: 100%;
    }

    .page-work__overview__paragraph__body-1-en {
        display: block;
        width: 100%;
    }

    .page-work__overview__paragraph__body-2-en {
        display: block;
        width: 100%;
    }

    .page-work__contents {
        margin-top: 40px;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }


    .page-work__contents__grid-3-6 {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .page-work__contents__grid-1-6 {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .page-work__contents__grid-half {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .page-work__contents__grid-1-2 {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .page-work__contents__grid-text {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .page-work__next-work__img {
        aspect-ratio: 16/9;
        width: 100%;
        height: auto;
    }


    /* フッター */


    .footer-wrapper {
        width: calc(100% + 32px);
        margin: 0 -16px;
        padding: 40px 16px 120px;
    }

    .footer__header {
        padding-bottom: 24px;
    }

    .footer__header a img {
        height: 20px;
    }

    .footer__links {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .footer__contact {
        grid-column: 1/-1;
        grid-row: auto;
    }

    .footer__bottom {
        grid-column: 1/-1;
        grid-row: auto;
    }


}