extends layout.pug

block content
    .wrapper-works
        article.work
            section.work--hero
                h1.logo-header.common-h1-header
                    a(href="index.html")
                        img(src="images/logo.svg" alt="")
                img.kv(src="" alt="" class="hero")

            section.work--overview
                .common-reveal-mask
                    h2.title.common-nakaguro-to-kakko-no-en(aria-label="") 
                        span(lang="en") 

                .info
                    dl.list 
                        div.item
                            dt
                                |Scope
                            dd
                        div.item
                            dt
                                |Date
                            dd
                        div.item
                            dt
                                |Client
                            dd
                        div.item
                            dt
                                |Client URL
                            dd
                        div.item
                            dt
                                |Output
                            dd

                    p(lang="ja").body-1
                    p(lang="ja").body-2
                    p(lang="en").body-1
                    p(lang="en").body-2
                .url
                    a(href="#" target="_blank")
                figure.img 
                    img(src="" alt="")

            section.work--contents 
                .gyo 
                    img(src="" alt="")
                .gyo 
                    img(src="" alt="")
                    img(src="" alt="")
                .gyo 
                    img(src="" alt="")
                .gyo 
                    img(src="" alt="")
                    img(src="" alt="")
                .gyo 
                    img(src="" alt="")
                .gyo.text-and-image
                    .text 
                        p(lang="ja")
                        p(lang="en")
                    figure.img 
                        img(src="" alt="")
                .gyo.text-and-image
                    .text 
                        p(lang="ja")
                        p(lang="en")
                    figure.img 
                        img(src="" alt="")

        aside.work--next-work
            span.label 
                |( Next Project )
            a(href="#").link
                p.title
                img(src="" alt="")

        include _footer.pug

    script(src="works-loader.js")